wallet.txt
backend/index.jsbak
backend/getTokens.jsonbak
node_modules
backend/getTokens.jsonbakk
.env
.vscode

node_modules
dist
dist-ssr
*.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*