@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@keyframes fadeInLeft {
  0% {
    @apply opacity-0 -translate-x-full;
  }
  25% {
    @apply opacity-0 -translate-x-3/4;
  }
  50% {
    @apply opacity-0 -translate-x-1/2;
  }
  75% {
    @apply opacity-0 -translate-x-1/4;
  }
  100% {
    @apply opacity-100 translate-x-0;
  }
}

@keyframes fadeOutRight {
  0% {
    @apply opacity-100 translate-x-0;
  }
  25% {
    @apply opacity-75 translate-x-1/4;
  }
  50% {
    @apply opacity-50 translate-x-1/2;
  }
  75% {
    @apply opacity-25 translate-x-3/4;
  }
  100% {
    @apply opacity-0 translate-x-full;
  }
}

@keyframes fadeIn {
  0% {
    @apply opacity-15;
  }
  25% {
    @apply opacity-25;
  }
  50% {
    @apply opacity-50;
  }
  75% {
    @apply opacity-75;
  }
  100% {
    @apply opacity-100;
  }
}

@keyframes fadeOut {
  0% {
    @apply opacity-15;
  }
  25% {
    @apply opacity-25;
  }
  50% {
    @apply opacity-50;
  }
  75% {
    @apply opacity-75;
  }
  100% {
    @apply opacity-100;
  }
}


@layer components {
  header {
    @apply w-[350px] h-16 flex justify-between items-center bg-blacker text-offwhite border border-t-0 border-lightgrey;
  }

  .App {
    @apply text-center w-[350px] h-[600px] justify-start items-center flex flex-col bg-blacker text-offwhite border border-lightgrey font-titillium leading-6 [&:not(:first-child)]:mt-6;
  }

  .content {
    @apply text-center w-[350px] h-[535px] overflow-hidden justify-start items-center flex flex-col relative;
  }
  .modal {
    @apply text-center w-[350px] h-[469px] overflow-hidden justify-start items-center flex flex-col relative;
  }

  .seedPhraseContainer {
    @apply w-full min-h-[160px] max-h-[250px] mt-1 border-amber p-2 grid grid-cols-3;
  }

  .fade-in-left {
    @apply animate-[fadeInLeft_0.1s_forwards];
  }
  .fade-out-right {
    @apply animate-[fadeOutRight_0.1s_forwards];
  }
  .fade-in {
    @apply animate-[fadeIn_0.3s_forwards];
  }
  .fade-out {
    @apply animate-[fadeOut_0.3s_forwards];
  }
}